<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovely's Techie Blog</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Dashboard</li>
                <li>Login</li>
                <li>Logout</li>
            </ul>
        </nav>
        <h1>The Tech Blog</h1>
    </header>

    {{{body}}}

<script src="../../public/js/script.js"></script>    
</body>
</html>